[Desktop Entry]
Encoding=UTF-8
Name=Telstar
Exec=/usr/local/bin/telstar
Icon=/usr/local/share/icons/telstar.png 
Type=Application
Category=Miscellaneous
